* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background: #f4f4f4;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* HEADER */
.header {
    background: #2c2c2c;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.header-title {
    flex: 1;
    text-align: center;
    animation: color 10s linear infinite;
}

@keyframes color {
    0% {
        color: yellow;
    }

    25% {
        color: red;
    }

    50% {
        color: hsl(157, 100%, 50%);
    }

    75% {
        color: #3909b3;
    }

    100% {
        color: yellow;
    }
}

.header-img,
.header-logo {
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: yellow solid 2px;
    animation: border 10s linear infinite;
}

@keyframes border {
    0% {
        border: yellow solid 2px;
    }

    25% {
        border: red solid 2px
    }

    50% {
        border: hsl(157, 100%, 50%) solid 2px;
    }

    75% {
        border: #3909b3 solid 2px;
    }

    100% {
        border: yellow solid 2px;
    }
}

/* NAVBAR */
.navbar {
    background: #444;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-item button {
    background: none;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu-item button:hover {
    background: #666;
    border-radius: 10px;
}

/* SUBMENU */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    min-width: 160px;
    list-style: none;
    padding: 0;
    animation: fadeSlide 0.3s ease;
}

.submenu li {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.submenu li:hover {
    background: #555;
    border-radius: 10px;
}

.submenu.show {
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

/* CONTAINER */
h2 {
    text-align: center;
    justify-content: center;
    color: black;
}

.container {
    padding: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 10px 10px 15px 10px #0c032b33;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

/*card animation*/
.card::before {
    content: '';
    position: absolute;
    width: 280px;
    height: 350px;
    border-radius: 50%;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    animation: rotate 4s linear infinite;
    z-index: -1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*card abunatuib close*/
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 25px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: black;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #2c2c2c;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ANIMATION */
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background: #444;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .menu.show {
        display: flex;
    }

    .submenu {
        position: static;
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 20px;
    }
}