* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #1e1f26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    background: #232323;
    padding: 35px 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Neon corners */
.card::before,
.card::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
}

.card::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #00f5ff;
    border-left: 3px solid #00f5ff;
    border-radius: 10px 0 0 0;
}

.card::after {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid #ff2d95;
    border-right: 3px solid #ff2d95;
    border-radius: 0 0 10px 0;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #777;
    padding: 8px 0;
    color: #fff;
    outline: none;
}

.input-group label {
    position: absolute;
    left: 0;
    top: 8px;
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -12px;
    font-size: 11px;
    color: #00f5ff;
}

.eye {
    position: absolute;
    right: 0;
    top: 8px;
    cursor: pointer;
    font-size: 14px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.links a {
    color: #aaa;
    text-decoration: none;
}

.links a:hover {
    color: #00f5ff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fff;
    color: #000;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00f5ff;
}